table{
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
    height: 100%;
    th{
        text-align: left;
        font-size: 14px;
        color: #606060;
    }
    td{
        font-size: 24px;
    }
}