.card_container {
  margin: 0;
  padding: 25px;
  border: 1px solid #ebebeb;
  border-radius: 15px;

  background-color: #fff;
  color: #606060;

  h4 {
    padding: 10px 0px;
  }
}

.row_container {
  display: flex;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 840px) {
  .container {
    padding: 0 calc(14px * 5);
  }
}
