.bg {
    /* 조상 요소 기준 */
    /* 현재 조상 요소가 없으므로 전체 화면 가득 채움 */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: black;
}

/* 
* {
  box-sizing: border-box;
}

html {
  font-family: Pretendard, sans-serif;
  font-size: 24px;
  color: #464e5e;
}

body {
  margin: 0;
}
 */
