.textContainer{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    width: 100%;
    gap : 20px;
    overflow: auto;
    ::-webkit-scrollbar {
    }
    .pieText{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        font-size: 16px;
        color: #606060;
        .circle{
            width: 12px;
            height: 12px;
            border-radius: 50%; /* 원 모양을 만들기 위해 사용 */                      
        }
    }
}


