.rank{
    width: 100%;
    height: 100%;

    
    h2 {
        font-size: 18px;        
        margin-bottom: 2rem;
    }

    table {
        width: 100%;
        font-size: 14px;
        text-align: center;
    }

    thead {
        margin: 0px 0px 10px 0px;
        color: #989898;
        text-align: left;
        
    }
}