.ticker {
    display: flex;
    align-items: center;
    height: 20px;

    span:first-child {
        display: block;

        width: 15px;
        height: 15px;

        margin: 0px 10px;
        border-radius: 15px;
    }
    span:last-child {
        display: block;
    }
}

.rate_of_change {
    display: flex;
    align-items: center;
    span:first-child {
        display: block;
        margin: 0px 5px;
    }
    span:last-child {
        display: block;
    }
}

.holding_stock {
    height: 80px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.transaction_container {
    width: 100%;

    p {
        padding: 5px 0px;

        font-weight: bold;
        color: #000;
    }

    .transaction_items {
        border-left: 2px solid #ddd;
        padding-left: 5px;
    }
}

.transaction_item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 10px 0px;

    .transaction_info {
        display: flex;
        flex-direction: column;
    }
}
